
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    THÔNG BÁO PHÂN QUYỀN NGƯỜI SỬ DUNG
    }
<div class="alert alert-danger">
    He he, tài khoản chưa được phân quyền chức năng này!
</div>

