@model List<Model.EF.Menu>

<a id="touch-menu" class="mobile-menu" href="#">Menu</a>
<nav>
    <ul class="menu list-unstyled">       
        @foreach (var item in Model)
        {   <li>
                <a href="@item.Link" target="@item.Target">@item.Text</a>
            </li>       
        }
       <div class="clear"></div>
</ul>
</nav>
<script src="~/Assets/newlayout/js/menu.js" type="text/javascript"></script>


