
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div class="alert alert-success">
    Cảm ơn bạn!
    Đơn hàng số  của bạn đã gửi thành công.
    Chúng toi sẽ hoàn thành đơn hàng trong thời gian sớm nhất.
    
</div>
